<script type="text/javascript">
	$( document ).ready(function() {
		
		$('#form_signin').on('submit', function(event){
			event.preventDefault();
			console.log("form submitted!")  // sanity check
			query_signin();
		});
		
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		
 		function query_signin() {
			var uname =  $('#id_username_signin').val();
			var pword =  $('#id_password_signin').val();
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/login/" + uname + "/" + pword, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$("#results_signin").html(json);
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});
			
		};
	});
	</script>

  <form method="POST" id="form_signin" class="form-signin">
	<h2 class="form-signin-heading">Please sign in</h2>
	<div class="form-group">
		<label for="id_username_signin">Username:</label>
		<input type="text" id="id_username_signin" name="username" class="form-control" required autofocus>
	</div>
	<div class="form-group">
		<label for="id_password_signin">Password:</label>
		<input type="password" id="id_password_signin" name="password" class="form-control" required autofocus>
	</div>
	{{ form }}
	<button type="submit" class="btn btn-default">Sign In</button>
  </form>