<!DOCTYPE html>
<html lang="en">
<head>
	<title>NB Gardens ASAS</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
	<link href="/static/css/test.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
		<link rel="icon" href="/static/images/favicon.ico">
	<script type="text/javascript">
	$( document ).ready(function() {
		
		$('#form_spentmost').on('submit', function(event){
			event.preventDefault();
			console.log("form submitted!")  // sanity check
			query_spentmost();
		});
		
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		
		$( "#id_dateto_spentxamount" ).datepicker({ dateFormat: 'yy-mm-dd'}); 
		$( "#id_datefrom_spentxamount" ).datepicker({ dateFormat: 'yy-mm-dd'}); 
		
		$( "#id_datefrom_spentmost" ).datepicker({ dateFormat: 'yy-mm-dd'}); 
		$( "#id_dateto_spentmost" ).datepicker({ dateFormat: 'yy-mm-dd'}); 		
		
 		function query_spentmost() {
			var datestart =  $('#id_datefrom_spentmost').val();
			var dateto =  $('#id_dateto_spentmost').val();
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/querytwo/" + datestart + "/" + dateto, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$("#results_spentmost").html(json);
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});
			
		};

		$('#form_spentxamount').on('submit', function(event){
			event.preventDefault();
			console.log("form submitted!")  // sanity check
			query_spentxamount();
		});
		
 		function query_spentxamount() {
			var datestart =  $('#id_datefrom_spentxamount').val();
			var dateto =  $('#id_dateto_spentxamount').val();
			var amount =  $('#id_amountmin_spentxamount').val();
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			console.log("/djangomysqlapp/querythree/" + datestart + "/" + dateto + "/" + amount)
			
			$.ajax({
				url : "/djangomysqlapp/querythree/" + datestart + "/" + dateto + "/" + amount, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$("#results_spentxamount").html(json);
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});

		};
 
 		$('#logout_button').on('click', function(event){
			event.preventDefault();
			console.log("logout submitted!")  // sanity check
			log_out();
		});
		
		function log_out() {
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/logout/", // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					window.location.replace("/djangomysqlapp")
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});
		};
 
	});
	</script>

	
</head>

<body>

	<nav class="navbar navbar no-margin">
		<div class="container-fluid">
		<div class="navbar-header fixed-brand">
			<a class="navbar-brand" href="#">NB Gardens</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="logout_button"><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Log Out</a></li>
				<li id="logout_button"><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Profile</a></li>
			</ul>
		</div>
		</div>
	</nav>
	
	
	<div class="row">
		<div class="col-md-2">
	<ul id="sidebar" class="nav nav-stacked nav-pills">
		<li><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Home</a></li>
		<li><a href="/djangomysqlapp/products" data-toggle="tooltip" data-placement="top" title="Please sign in">Products</a></li>
		<li class="active"><a href="/djangomysqlapp/customer" data-toggle="tooltip" data-placement="top" title="Please sign in">Customers</a></li>
		<li><a href="/djangomysqlapp/orders" data-toggle="tooltip" data-placement="top" title="Please sign in">Orders</a></li>
		<li><a href="/djangomysqlapp/employee" data-toggle="tooltip" data-placement="top" title="Please sign in">Employee</a></li>
		<li><a href="/djangomysqlapp/help" data-toggle="tooltip" data-placement="top" title="Please sign in">Help</a></li>
	</ul>
		</div>
	
	<div class="col-md-10">
	  <h2>Customer Statistics and Details</h2>
	  <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#customerlist">Customer List</a></li>
		<li><a data-toggle="tab" href="#query1">Spent the most</a></li>
		<li><a data-toggle="tab" href="#query2">Spent more than a certain amount</a></li>
		<li><a data-toggle="tab" href="#query3">Average rating</a></li>
		<li><a data-toggle="tab" href="#query4">Customer Satisfaction</a></li>
	  </ul>

	  <div class="tab-content">
		<div id="customerlist" class="tab-pane fade in active">
		<br>
						  <div class="table-responsive col-md-12">
							<div class="panel panel-default">
								<!-- Default panel contents -->
								<div class="panel-heading">Products</div>

								<!-- Table -->
								<table class="table table-striped">
									<thead>
									<tr>
										<th>Customer ID</th>
										<th>First Name</th>
										<th>Surname</th>
										<th>Blacklisted?</th>
										<th>Email Address</th>
										<th>Contact Number</th>
									</tr>
									</thead>
									{% if customer_list %}
									<tbody>
									{% for customer in customer_list %}
										<tr>
											<td>{{ customer.idcustomer}}</td>
											<td>{{ customer.firstname }}</td>
											<td>{{ customer.lastname }}</td>
											<td>{{ customer.blacklist}}</td>
											<td>{{ customer.emailaddress}}</td>
											<td>{{ customer.contactnumber}}</td>
											 {% endfor %}
										</tr>
									{% else %}
									<p>No Customers are available.</p>
									{% endif %}
									</tbody>
								</table>
							</div>
						</div>
		</div>
		<div id="query1" class="tab-pane fade">
		  <h3>To see which customers have spent the most with us in any given period</h3>
		  <form method="POST" id="form_spentmost">
					<p><label for="id_datefrom_spentmost">Date From:</label>
					<input id="id_datefrom_spentmost" type="date" name="datefrom" maxlength="100" required /></p>
					<p><label for="id_dateto_spentmost">Date To:</label>
					<input id="id_dateto_spentmost" type="date" name="dateto" maxlength="100" required /></p>
					{{ form }}
					<input type="submit" value="Submit">
				</form>
				<h2>Results</h2>

				<div class="table-responsive col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">Customers</div>
						<!-- Table -->
						<table id="results_spentmost" class="table table-striped"></table>
					</div>
				</div>
		</div>
		<div id="query2" class="tab-pane fade">
		  <h3>To see which customers have spent more than ‘x’ amount during a given period</h3>
		   <form method="POST" id="form_spentxamount">
					<p><label for="id_amountmin_spentxamount">Miniumum Amount:</label>
					<input id="id_amountmin_spentxamount" type="int" name="amountmin" required /></p>
					<p><label for="id_datefrom_spentxamount">Date From:</label>
					<input id="id_datefrom_spentxamount" type="date" name="datefrom" maxlength="100" required /></p>
					<p><label for="id_dateto_spentxamount">Date To:</label>
					<input id="id_dateto_spentxamount" type="date" name="dateto" maxlength="100" required /></p>
					{{ form }}
					<input type="submit" value="Submit">
			</form>
				<h2>Results</h2>

				<div class="table-responsive col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">Customers</div>
						<!-- Table -->
						<table id="results_spentxamount" class="table table-striped"></table>
					</div>
				</div>
		</div>
		<div id="query3" class="tab-pane fade">
		  <h3>Average rating a particular customer has given NB Gardens, demongraphic, county and normal</h3>
		  
		</div>
		<div id="query4" class="tab-pane fade">
		  <h3>Customer satisfaction in key areas of the business over a given period of time</h3>
		  
		</div>
	  </div>
	</div>
	</div>
	
</body>
</html>