<!DOCTYPE html>
<html lang="en">
<head>
	<title>NB Gardens ASAS</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link href="/static/css/test.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
		<link rel="icon" href="/static/images/favicon.ico">
	<script type="text/javascript">
	$( document ).ready(function() {
 
		$('#form_top_sales').on('submit', function(event){
			event.preventDefault();
			console.log("form submitted!")  // sanity check
			query_top_salespeople();
		});

		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});

		function query_top_salespeople() {
			var datestart =  $('#id_datefrom_top_sales').val();
			var dateto =  $('#id_dateto_top_sales').val();
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/query/" + datestart + "/" +dateto, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$("#results_top_sales").html(json);
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});

		};
		
		$('#form_salesperson').on('submit', function(event){
			event.preventDefault();
			console.log("form submitted!")  // sanity check
			query_salesperson();
		});
		
 		function query_salesperson() {
			var datestart =  $('#id_datefrom_salesperson').val();
			var dateto =  $('#id_dateto_salesperson').val();
			var employeeid =  $('#id_employeeid_salesperson').val();
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/queryfourteen/" + datestart + "/" + dateto + "/" + employeeid, // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					$("#results_salesperson").html(json);
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});

		};
 
  		$('#logout_button').on('click', function(event){
			event.preventDefault();
			console.log("logout submitted!")  // sanity check
			log_out();
		});
		
		function log_out() {
			console.log("create post is working!") // sanity check
			console.log($('#post-text').val())
			
			$.ajax({
				url : "/djangomysqlapp/logout/", // the endpoint
				type : "POST", // http method
				data : { the_post : $('#post-text').val() }, // data sent with the post request

				// handle a successful response
				success : function(json) {
					$('#post-text').val(''); // remove the value from the input
					console.log(json); // log the returned json to the console
					console.log("success"); // another sanity check
					window.location.replace("/djangomysqlapp")
				},

				// handle a non-successful response
				error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				}
			});
		};
 
	});
	</script>
	
</head>

<body>
	
	

	<nav class="navbar navbar no-margin">
		<div class="container-fluid">
		<div class="navbar-header fixed-brand">
			<a class="navbar-brand" href="#">NB Gardens</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
		</div>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li id="logout_button"><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Log Out</a></li>
				<li id="logout_button"><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Profile</a></li>
			</ul>
		</div>
		</div>
	</nav>
	<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
		<li><a href="/djangomysqlapp" data-toggle="tooltip" data-placement="top" title="Please sign in">Home</a></li>
		<li><a href="/djangomysqlapp/products" data-toggle="tooltip" data-placement="top" title="Please sign in">Products</a></li>
		<li><a href="/djangomysqlapp/customer" data-toggle="tooltip" data-placement="top" title="Please sign in">Customers</a></li>
		<li><a href="/djangomysqlapp/orders" data-toggle="tooltip" data-placement="top" title="Please sign in">Orders</a></li>
		<li class="active"><a href="/djangomysqlapp/employee" data-toggle="tooltip" data-placement="top" title="Please sign in">Employee</a></li>
		<li><a href="/djangomysqlapp/help" data-toggle="tooltip" data-placement="top" title="Please sign in">Help</a></li>
	</ul>
	<br>
	
	<div class="container">
		<h2>Employee Sales Statistics</h2>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#query1">Top Salespeople</a></li>
			<li><a data-toggle="tab" href="#query2">Amount of Sales made</a></li>
		</ul>

		<div class="tab-content">
			<div id="query1" class="tab-pane fade in active">
				<h3>Determine the top salesperson of a given period based on the total cost of their sales during that time</h3>
				<form method="POST" id="form_top_sales">
					<p><label for="id_datefrom_top_sales">Date From:</label>
					<input id="id_datefrom_top_sales" type="date" name="datefrom" maxlength="100" required /></p>
					<p><label for="id_dateto_top_sales">Date To:</label>
					<input id="id_dateto_top_sales" type="date" name="dateto" maxlength="100" required /></p>
					{{ form }}
					<input type="submit" value="Submit">
				</form>
				<h2>Results</h2>

				<div class="table-responsive col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">Employees</div>
						<!-- Table -->
						<table id="results_top_sales" class="table table-striped"></table>
					</div>
				</div>

			</div>
			
			<div id="query2" class="tab-pane fade">
				<h3>Amount of sales made by a particular sales person over a period of time (GRAPH)</h3>
				<form method="POST" id="form_salesperson">
					<p><label for="id_datefrom_salesperson">Date From:</label>
					<input id="id_datefrom_salesperson" type="date" name="datefrom" maxlength="100" required /></p>
					<p><label for="id_dateto_salesperson">Date To:</label>
					<input id="id_dateto_salesperson" type="date" name="dateto" maxlength="100" required /></p>
					<p><label for="id_employeeid_salesperson">Employee ID:</label>
					<input id="id_employeeid_salesperson" type="int" name="employeeid_salesperson" maxlength="100" required /></p>
					{{ form }}
					<input type="submit" value="Submit">
				</form>
				<h2>Results</h2>

				<div class="table-responsive col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">Employees</div>
						<!-- Table -->
						<table id="results_salesperson" class="table table-striped"></table>
					</div>
				</div>
			</div>
		</div>
	</div>	

</body>

</html>