<!DOCTYPE html>
<html lang="en">
<head>
	<title>NB Gardens ASAS</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel='stylesheet' type='text/css' href='stylesheet.css'>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

	
</head>

<body>
	
	<!--navigation-->
	<div class="container-fluid" style="background-color:#5cb85c;color:#fff;height:200px;">
		<h1 align="center">NB Gardens</h1>
		<h3 align="center">Accounts Sales Analytical System (ASAS)</h3>
	</div>

	<nav class="navbar navbar-inverse navbar-fixed-top"  data-spy="affix" data-offset-top="197">
	  <div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/djangomysqlapp/home" data-toggle="tooltip" data-placement="top" title="Please sign in">Home</a></li>
				<li><a href="/djangomysqlapp/products" data-toggle="tooltip" data-placement="top" title="Please sign in">Products</a></li>
				<li><a href="/djangomysqlapp/customers" data-toggle="tooltip" data-placement="top" title="Please sign in">Customers</a></li>
				<li><a href="/djangomysqlapp/orders" data-toggle="tooltip" data-placement="top" title="Please sign in">Orders</a></li>
				<li class="active"><a href="/djangomysqlapp/sales" data-toggle="tooltip" data-placement="top" title="Please sign in">Employee</a></li>
				<li><a href="/djangomysqlapp/help" data-toggle="tooltip" data-placement="top" title="Please sign in">Help</a></li>
			</ul>
		</div>
	  </div>
	</nav>
	
	<div class="container">
	  <h2>Employees, sales statistics</h2>
	  <ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="currentsales"></a>Current Sales</li>
		<li><a data-toggle="tab"  href="query1"></a>Top Salesperson</li>
		<li><a data-toggle="tab" href="#query2">Amount of Sales made</a></li>
	  </ul>

	  <div class="tab-content">
	    <div id="currentsales" class="tab-pane fade in active">
		<br>
			<div class="table-responsive col-md-12">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Orders</div>

			<!-- Table -->
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Order ID</th>
					<th>Order Status</th>
					<th>Employee ID</th>
					<th>Customer ID</th>
					<th>Address ID</th>
					<th>Payment ID</th>
					<th>Date Created</th>
					<th>GDZ Date</th>
					<th>Date Dispatched</th>
					<th>Date Delivered</th>
					<th>Date Cancelled</th>
					<th>Date Returned</th>
				</tr>
				</thead>
				{% if order_list %}
				<tbody>
				{% for order in order_list %}
					<tr>
						<td><a href="/djangomysqlapp/order/{{ order.idpurchase }}/">{{ order.idpurchase }}</a></td>
						<td>{{ order.purchasestatus }}</td>
						<td>{{ order.emp_idemployee}}</td>
						<td>{{ order.cust_idcustomer}}</td>
						<td>{{ order.add_idaddress}}</td>
						<td>{{ order.pay_idpayment}}</td>
						<td>{{ order.createdate }}</td>
						<td>{{ order.gdzdate}}</td>
						<td>{{ order.dispatcheddate}}</td>
						<td>{{ order.delivereddate}}</td>
						<td>{{ order.cancelleddate}}</td>
						<td>{{ order.returneddate}}</td>
						 {% endfor %}
					</tr>
					{% else %}
				<p>No Products are available.</p>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
		</div>
		<div id="query1" class="tab-pane fade">
		<br>
		<h3>Determine the top salesperson of a given period based on the total cost of their sales during that time</h3>
			<form method="post" action="">
				<p><label for="id_datefrom">Date From:</label>
				<input id="id_datefrom" type="date" name="datefrom" maxlength="100" required /></p>
				<p><label for="id_dateto">Date From:</label>
				<input id="id_dateto" type="date" name="dateto" maxlength="100" required /></p>
				<p><label for="id_employeeid">Employee ID:</label>
				<input id="id_employeeid" type="int" name="employeeid" maxlength="100" required /></p>
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="query2" class="tab-pane fade">
		  <h3>Amount of sales made by a particular sales person over a period of time (GRAPH)</h3>
			<form method="post" action="">
				<p><label for="id_datefrom">Date From:</label>
				<input id="id_datefrom" type="date" name="datefrom" maxlength="100" required /></p>
				<p><label for="id_dateto">Date From:</label>
				<input id="id_dateto" type="date" name="dateto" maxlength="100" required /></p>
				<p><label for="id_employeeid">Employee ID:</label>
				<input id="id_employeeid" type="int" name="employeeid" maxlength="100" required /></p>
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Submit">
			</form>
		</div>
	  </div>
	</div>	

</body>
</html>