<thead>
<tr>
	<th>ID</th>
	<th>Status</th>
	<th>Area</th>
	<th>GDZ Date</th>
	<th>Dispatched</th>
	<th>Delivered</th>
	<th>Cancelled</th>
	<th>Returned</th>
	<th>Created</th>
	<th>Created by:</th>
</tr>
</thead>
	{% for order in order_list %}
	<tr>
		<td>{{ order.idpurchase }}</td>
		<td>{{ order.purchasestatus}}</td>
		<td>{{ order.add_idaddress.county }}</td>
		<td>{{ order.gdzdate}}</td>
		<td>{{ order.dispatcheddate }}</td>
		<td>{{ order.delivereddate}}</td>
		<td>{{ order.cancelleddate}}</td>
		<td>{{ order.returneddate}}</td>
		<td>{{ order.createdate}}</td>
		<td>{{ order.emp_idemployee.firstname}} {{ order.emp_idemployee.lastname}}</td>
		 {% endfor %}
	</tr>